@charset "UTF-8";

/* index.css */
.main-panel {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 60px;
	flex-grow: 1;
}

.navbar {
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand img {
	height: 40px;
}

.navbar .navbar-toggler {
	border: none;
}

.navbar .navbar-toggler:focus {
	outline: none;
	box-shadow: none;
}

.navbar-custom-height {
	height: 60px; /* 원하는 높이로 설정 */
}

.navbar-custom-height .navbar-brand img {
	height: 100%; /* 로고 이미지가 네비게이션 바 높이에 맞게 조정 */
}

/*header*/
.dropdown-submenu {
	position: relative;
}

.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -1px;
}

