@charset "EUC-KR";

body {
  display: flex;
  margin: 0;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sidebar {
  position: fixed;
  top: 160px; /* Adjust this value based on your navbar height */
  left: 0;
  width: 250px; /* Adjust the width of the sidebar as needed */
  height: calc(100% - 56px); /* Adjust the height based on your navbar height */
  background-color: #fff; /* Adjust the background color as needed */
  overflow-y: auto; /* Ensure the sidebar can scroll if content overflows */
  z-index: 1000;
}
