/* Swiper 컨테이너 설정 */
.swiper-container {
width: 100%;
height: 100%;
}

.swiper-wrapper {
display: flex;
flex-wrap: nowrap;
}

.swiper-slide {
flex: 0 0 auto;
width: 300px; /* Adjust the width as needed */
height: auto;
}
.fixed-image {
width: 100%; /* 카드의 너비에 맞게 이미지 크기 조절 */
height: 200px; /* 고정된 높이 값 설정 */
object-fit: cover; /* 이미지가 카드에 맞게 잘리도록 설정 */
}
.swiper-button-next,
.swiper-button-prev {
font-size: 1.1rem !important;
font-weight: 600 !important;/
}

.custom-swiper-button-next,
.custom-swiper-button-prev {
color: white; /* 버튼 색상 */

background: rgba(128, 128, 128, 0.5); /* 반투명 배경 */
border-radius: 50%; /* 원형 버튼 */
width: 25px; /* 버튼 크기 */
height: 25px; /* 버튼 크기 */
display: flex;
justify-content: center;
align-items: center;
position: absolute; /* 위치 절대 */
top: 50%; /* 중앙 정렬 */
z-index: 10;
transform: translateY(-50%);
}

.custom-swiper-button-next {
right: 10px; /* 오른쪽 정렬 */
}

.custom-swiper-button-prev {
left: 10px; /* 왼쪽 정렬 */
}



/* 랭킹 스와이퍼 */
.swiper-container.ranking {
width: 400px;
height: 30px; /* 높이를 조정하여 얇게 설정 */
}

.swiper-slide.ranking {
display: flex;
justify-content: center;
align-items: center;
font-size: 18px;
background: #fff;
border: 1px solid #ddd;
height: 30px; /* 높이를 조정하여 슬라이드가 컨테이너에 맞도록 설정 */
width: 400px;
}