<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="life.wewu.web.service.group.GroupAcleDao">
	<resultMap id="groupAcleSelectMap" type="groupAcle">
		<result property="boardNo"     	column="board_no"  	jdbcType="INTEGER"/>
		<result property="typeNo"     	column="type_no"    jdbcType="INTEGER"/>
		<result property="memberNo"   	column="member_no"  jdbcType="INTEGER"/>
		<result property="wrteName"   	column="nickname"   jdbcType="VARCHAR"/>
		<result property="acleName"  	column="title"  	jdbcType="VARCHAR"/>
		<result property="acleContents" column="contents"   jdbcType="VARCHAR"/>
		<result property="wrteDate"   	column="reg_date"   jdbcType="DATE"/>
	</resultMap>
	
	<!-- comment 테이블 -->
	<resultMap type="comment" id="commentSelectMap">
		<result property="commentNo" 		column="comment_no" 		jdbcType="NUMERIC"/>
		<result property="boardNo" 			column="board_no" 			jdbcType="NUMERIC"/>
		<result property="commentNickName" 	column="comment_nickname" 	jdbcType="VARCHAR"/>
		<result property="commentContents" 	column="comment_contents" 	jdbcType="VARCHAR"/>
		<result property="commentDate" 		column="comment_date" 		jdbcType="DATE"/>
	</resultMap>
  	
	<!-- INSERT 매핑구문 (insert SQL 등록) :: insert element -->
  	<insert id="addGroupAcle" parameterType="groupAcle" useGeneratedKeys="true" keyProperty="boardNo" keyColumn="board_no">
  		INSERT
  		INTO board
  		(
  			type_no, 
  			member_no, 
  			nickname, 
  			title,
  			contents, 
  			reg_date
  		)
  		VALUES
  		(
  			#{typeNo},
  			#{memberNo},
  			#{wrteName},
  			#{acleName},
  			#{acleContents},
  			now()
  		)
  	</insert>
  	<!-- INSERT 매핑구문 (insert SQL 등록) :: insert element -->
  	
  	<!-- SELECT 매핑구문 (select SQL 등록) :: select element -->  	
  	<select id="getGroupAcle" parameterType="INT" resultMap="groupAcleSelectMap">
  		SELECT
  			board_no,
  			type_no, 
  			member_no, 
  			nickname, 
  			title,
  			contents, 
  			reg_date
  		FROM board
  		<where>
  			board_no = #{value}
  		</where>
  	</select>
  	<!-- SELECT 매핑구문 (select SQL 등록) :: select element -->  
  	
  	<!-- SELECT 매핑구문 (select SQL 등록) :: select element -->  	
  	<select id="getGroupAcleList" parameterType="MAP" resultMap="groupAcleSelectMap">
  		SELECT
  			board_no,
  			type_no, 
  			member_no, 
  			nickname, 
  			title,
  			contents, 
  			reg_date
  		FROM board
  		<where>
  			type_no = #{typeNo}
  			<if test="search.searchKeyword != null and search.searchKeyword != ''">
  				AND title LIKE CONCAT('%', #{search.searchKeyword}, '%')
  			</if>
  			
  		</where>
  		LIMIT #{search.currentPage}, 10
  	</select>                                                                                                                                                                                                                                                                                                                                                                   
  	<!-- SELECT 매핑구문 (select SQL 등록) :: select element --> 
  	
  	<!-- SELECT 매핑구문 (select SQL 등록) :: select element -->  	
  	<select id="getGroupAcleListCnt" parameterType="MAP" resultType="INT">
  		SELECT
  			count(*)
  		FROM board
  		<where>
  			type_no = #{typeNo}
  			<if test="search.searchKeyword != null and search.searchKeyword != ''">
  				AND title LIKE CONCAT('%', #{search.searchKeyword}, '%')
  			</if>
  		</where>
  	</select>
  	<!-- SELECT 매핑구문 (select SQL 등록) :: select element --> 
  	
  	<!-- UPDATE 매핑구문 (update SQL 등록) :: update element -->  	
  	<update id="updateGroupAcle" parameterType="groupAcle" >
  	
  		UPDATE board
  		<set>
		    <if test="typeNo != null and typeNo != ''">
		        type_no = #{typeNo},
		    </if>
		    <if test="memberNo != null and memberNo != ''">
		        member_no = #{memberNo},
		    </if>
		    <if test="wrteName != null and wrteName != ''">
		        nickname = #{wrteName},
		    </if>
		    <if test="acleName != null and acleName != ''">
		        title = #{acleName},
		    </if>
		    <if test="acleContents != null and acleContents != ''">
		        contents = #{acleContents},
		    </if>
		    <if test="wrteDate != null and wrteDate != ''">
		        reg_date = #{wrteDate},
		    </if>
		    board_no = #{boardNo}
		</set>
		<where>
			board_no = #{boardNo}
		</where>
  	</update>
	<!-- UPDATE 매핑구문 (update SQL 등록) :: update element -->
	
	<!-- DELETE 매핑구문 (delete SQL 등록) :: delete element -->  	
  	<delete id="deleteGroupAcle" parameterType="INT" >
  		delete
  		FROM board
  		<where>
  			board_no = #{value}
  		</where>
  	</delete>
  	<!-- DELETE 매핑구문 (delete SQL 등록) :: delete element --> 
  	
  	<select id="groupAcleCnt" parameterType="INT" resultType="INT">
  		SELECT 
  		COUNT(*) 
  		FROM board 
  		WHERE 
  		type_no IN (
  						SELECT 
  							type_no 
  						FROM 
  							board_type 
  						WHERE 
  							group_no = ${groupNo}
  					)
  	</select>
  	
  	<select id="memberAcleList" parameterType="MAP" resultMap="groupAcleSelectMap">
  		SELECT 
  			board_no,
  			type_no, 
  			member_no, 
  			nickname, 
  			title,
  			contents, 
  			reg_date
  		FROM board 
  		WHERE 
  		type_no IN (
  						SELECT 
  							type_no 
  						FROM 
  							board_type 
  						WHERE 
  							group_no = ${groupNo}
  					)
  		AND 
  			nickname = '${nickname}'
  		LIMIT #{search.currentPage}, 5
  	</select>
  	
  	<select id="memberAcleListCnt" parameterType="MAP" resultType="INT">
  		SELECT 
  			COUNT(*)
  		FROM board 
  		WHERE 
  		type_no IN (
  						SELECT 
  							type_no 
  						FROM 
  							board_type 
  						<if test="${groupNo != null}">
							<where>
								group_no = #{groupNo}
							</where>
						</if>
  							
  					)
  		AND 
  			nickname = '${nickname}'
  		
  	</select>
  	
  	<select id="memberCommentList" parameterType="MAP" resultMap="commentSelectMap">
  	
  		SELECT 
  			comment_no,
  			board_no,
  			comment_nickname, 
  			comment_contents, 
  			comment_date 
  		FROM comment 
  		WHERE 
  		board_no IN (
  						SELECT 
  							board_no 
  						FROM 
  							board 
  						WHERE 
  							type_no IN  (
  											SELECT
  												type_no
  											FROM
  												board_type
  											WHERE
  												group_no = #{groupNo}
  										)
  					)
  		AND 
  			comment_nickname = '${nickname}'
  		LIMIT #{search.currentPage}, 5
  	</select>
  	
	<select id="memberCommentListCnt" parameterType="MAP" resultType="INT">
  	
  		SELECT 
  			COUNT(*)
  		FROM comment 
  		WHERE 
  		board_no IN (
  						SELECT 
  							board_no 
  						FROM 
  							board 
  						WHERE 
  							type_no IN  (
  											SELECT
  												type_no
  											FROM
  												board_type
  											<if test="${groupNo != null}">
  												<where>
  													group_no = #{groupNo}
  												</where>
  											</if>
  											
  										)
  					)
  		AND 
  			comment_nickname = '${nickname}'
  		
  	</select>
</mapper>