<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace = "life.wewu.web.service.plant.InventoryDao">
	
	<resultMap id="InventorySelectMap" type="inventory" >
		<result property="itemNo"			column="item_no" 			jdbcType="INTEGER" />
		<result property="itemPurNo"		column="item_purchase_no" 	jdbcType="VARCHAR" />
		<result property="itemName"   		column="item_name"    		jdbcType="VARCHAR" />
		<result property="itemExp"			column="item_effect"		jdbcType="VARCHAR" />
		<result property="itemType"			column="item_category" 		jdbcType="VARCHAR" />
		<result property="itemNum"			column="item_stock" 		jdbcType="INTEGER" />
		<result property="itemImg"			column="item_img" 			jdbcType="INTEGER" />
		<result property="nickname"			column="buyer_nickname" 	jdbcType="INTEGER" />
	</resultMap>

	<!-- GET INVENTORY -->
<!-- InventoryMapper.xml -->
<select id="getInventoryList" parameterType="map" resultMap="InventorySelectMap">
SELECT item_no, item_name, item_effect, item_img, item_purchase_no, item_stock, item_category
FROM (
    SELECT i.item_no, i.item_name, i.item_effect, i.item_img, p.item_purchase_no, SUM(p.item_stock) AS item_stock, i.item_category
    FROM item_purchase p
    JOIN item i ON p.item_no = i.item_no
    WHERE p.buyer_nickname = #{nickname}
    AND p.item_stock > 0 
    GROUP BY i.item_no, i.item_name, i.item_effect, i.item_img, p.item_purchase_no
) AS grouped_result
ORDER BY item_purchase_no
LIMIT #{pageSize} OFFSET #{offset};
</select>
	
	<update id="updateInventory" parameterType="inventory">
		UPDATE item_purchase
    	SET item_stock = item_stock - 1
    	WHERE item_purchase_no = #{itemPurNo}
	</update>
	
	<select id="getInventory" parameterType="int" resultMap="InventorySelectMap">
		SELECT * FROM inventory
		WHERE inventory_no = #{inventoryNo}
	</select>
	
	
	<select id = "getTotalCount" parameterType="Map" resultType="int">
		SELECT COUNT(*) FROM item_purchase ip , item i
		WHERE i.item_no = ip.item_no 
		AND item_stock > 0
		AND i.item_category = 'Y'
	</select>
	
</mapper>
			