<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace = "life.wewu.web.service.plant.InventoryDao">
	
	<resultMap id="InventorySelectMap" type="inventory" >
		<result property="itemNo"			column="item_no" 			jdbcType="INTEGER" />
		<result property="itemPurNo"		column="item_purchase_no" 	jdbcType="VARCHAR" />
		<result property="itemExp"			column="item_effect"		jdbcType="VARCHAR" />
		<result property="itemType"			column="item_category" 		jdbcType="VARCHAR" />
		<result property="itemNum"			column="item_stock" 		jdbcType="INTEGER" />
		<result property="itemImg"			column="item_Img" 			jdbcType="INTEGER" />
		<result property="nickname"			column="buyer_nickname" 	jdbcType="INTEGER" />
	</resultMap>

	<!-- GET INVENTORY -->
	<select id="getInventoryList" parameterType="string" resultMap="InventorySelectMap">
		SELECT i.item_no, i.item_name, i.item_effect, i.item_img, p.item_purchase_no,SUM(item_stock) item_stock
		FROM item_purchase p, item i
		WHERE 
		p.item_no = i.item_no
		AND p.buyer_nickname = #{nickname}
		AND item_stock > 0 
		GROUP BY i.item_no, i.item_name, i.item_effect, i.item_img,p.item_purchase_no
		ORDER BY item_purchase_no
	</select>
	
	<update id="updateInventory" parameterType="inventory">
		UPDATE item_purchase
		<set>
			item_stock = #{itemNum}
		</set>
		WHERE item_purchase_no = #{itemPurNo}
	</update>
	
	<select id="getInventory" parameterType="int" resultMap="InventorySelectMap">
		SELECT * FROM inventory
		WHERE inventory_no = #{inventoryNo}
	</select>
	
</mapper>
			