<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ItemPurchaseMapper">
 	
 	
	<resultMap id="itemPurchaseSelectMap" type="itemPurchase">
      <result property="itemPurchaseNo"          	column="item_purchase_no"          	jdbcType="INT" />
      <result property="itemNo"          			column="item_no"          			jdbcType="INT" />
      <result property="buyerNickname"   			column="buyer_nickname"    			jdbcType="VARCHAR" />
      <result property="itemCnt"   					column="item_cnt"       			jdbcType="INT" /> 
      <result property="itemPurchaseDate" 			column="item_purchase_date" 		jdbcType="DATE" />
      <result property="refundCompdate"             column="refund_compdate"       		jdbcType="DATE" />
      <result property="refundAskdate"    			column="refund_askdate"       		jdbcType="DATE" />
      <result property="itemStock"          		column="item_stock"       			jdbcType="INT" />
      <result property="refundFlag"          	    column="refund_flag"       			jdbcType="VARCHAR" />
      <result property="afterRefundpoint"           column="after_refundpoint"       	jdbcType="INT" />
      <result property="beforeRefundpoint"          column="before_refundpoint"      	jdbcType="INT" />
      <result property="currentPoint"          	    column="current_point"       		jdbcType="INT" />
      <result property="refundPoint"          		column="refund_point"       		jdbcType="INT" />
   </resultMap>
	
	
	<!-- SQL : INSERT 아이템 구매하기 -->    <!-- parameterType는 매개변수 쓸 때만 넣음. 안 쓸 땐 안 넣음.
	resultMap은 도메인이랑 같이 가져가는 게 맞음.  -->
	
	<insert id="addPurchase" parameterType="itempurchase" useGeneratedKeys="true" keyProperty="itemPurchaseNo">
	     INSERT 
	     INTO item_purchase ( item_no, item_name, buyer_nickname, item_cnt, item_purchase_date, item_price ) 
	     VALUES (
	     #{item_purchase_no}, #{item_no}, #{item_name}, #{buyer_nickname}, 
	     #{item_cnt}, #{item_purchase_date}, #{item_price} )
    </insert>
	
	<!-- SQL : SELECT 아이템 환불내역 목록조회 -->
	 <select id="getRefundPointList"  resultMap="itemPurchaseSelectMap"> 
		  SELECT 
		  item_purchase_no, refund_compdate, item_name, refund_point //이너조인
		  FROM item_purchase
		  WHERE refund_askdate IS NOT NULL
	 </select>
   	
   	<!-- SQL : SELECT 아이템 환불내역 상세정보조회 -->
     <select id="getRefundPoint"  resultMap="itemPurchaseSelectMap">   //이너조인
	      SELECT
	      item_purchase_no, refund_compdate, refund_askdate, refund_flag, item_name, item_cnt, item_price, refund_point, before_refundpoint, after_refundpoint
	      FROM item_purchase
	      WHERE refund_askdate IS NOT NULL
    </select>
    
    <!-- SQL : SELECT 아이템 판매내역 목록조회 -->
	<select id="getItemSalesHistoryList" parameterType="int" resultMap="itemPurchaseSelectMap">
        SELECT
        item_purchase_no, item_purchase_date, item_name, item_cnt, item_price       //이너조인
        FROM item_purchase
        WHERE item_purchase_no = #{value}
    </select>
	
	<!-- SQL : SELECT 아이템 판매내역 상세정보조회 -->
	<select id="getItemSalesHistory" parameterType="int" resultMap="itemPurchaseSelectMap">
        SELECT
        item_purchase_no, item_purchase_date, item_name, item_cnt, item_price, buyer_nickname //이너조인    
        FROM item_purchase
        WHERE item_purchase_no = #{value}
    </select>
	
	<!-- SQL : SELECT 아이템 구매내역 목록조회 -->
	<select id="getItemPurchaseHistoryList" parameterType="String" resultMap="itemPurchaseSelectMap">
        SELECT
        item_purchase_no, item_purchase_date, item_name, item_cnt, item_price, buyer_nickname       //이너조인 
        FROM item_purchase
        WHERE buyer_nickname  = #{value}
    </select>
    
    <!-- SQL : SELECT 아이템 구매내역 상세정보조회 -->
    <select id="getItemPurchaseHistory" parameterType="String" resultMap="itemPurchaseSelectMap">
        SELECT
        item_purchase_no, item_purchase_date, item_name, item_cnt, item_price, buyer_nickname //이너조인 
        FROM item_purchase
        WHERE buyer_nickname  = #{value}
    </select>
    
    <!-- SQL : DELETE 아이템 구매 취소-->
	 <delete	id="deletePurchase" 	parameterType="itempurchase" >
	 	DELETE 
		FROM item_purchase 
		WHERE item_purchase_no = #{value}
	 </delete>
   
    <!-- SQL : SELECT 포인트 충전내역 목록 가져오기 -->  <!-- table 위치랑 mapper 상관 없음. pay에서 가져오는 거 맞음. -->
    <select id="getPointChargeList" parameterType="int" resultMap="itemPurchaseSelectMap">
        SELECT
        pay_no, pay_date, pay_amount, pay_flag
        FROM pay
        WHERE pay_no = #{value}
    </select>
    
    <!-- SQL : SELECT 포인트 충전내역 상세조회 가져오기 -->
    <select id="getPointCharge" parameterType="int" resultMap="itemPurchaseSelectMap">
        SELECT
        pay_no, pay_date, pay_amount, after_charge_point, pay_option, pay_flag
        FROM pay
        WHERE pay_no = #{value}    
    </select>
    
     <!-- SQL : DELETE 포인트 충전 취소-->
     <delete id="deletePointCharge" parameterType="int">
        DELETE 
        FROM pay
        WHERE pay_no = #{value}
     </delete>
     
     <!-- SQL : INSERT 포인트 충전 --> 
     <insert id="addPointCharge" parameterType="itempurchase">
        INSERT 
        INTO pay ( pay_no, pay_amount, current_point, pay_option) 
        VALUES (#{pay_amount}, #{current_point}, #{pay_option})
     </insert>
	
	
</mapper>