<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<!--	mybatis-config.xml :: MyBatis Framework  MetaData -->
<configuration>

	<!-- 기타 설정정보 :: [MyBatis_Home]/mybatis-3.2.1.pdf 참조 -->
	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>	
	
	<!-- FQCN(Full Qualified Class Name) Alias(별칭관리) -->
	
	<typeAliases>
		<typeAlias alias="search" type="life.wewu.web.common.Search" />
		<typeAlias alias="page" type="life.wewu.web.common.Page" />
		<typeAlias alias="board" type="life.wewu.web.domain.board.Board" />
		<typeAlias alias="boardFile" type="life.wewu.web.domain.board.BoardFile" />
		<typeAlias alias="bookmark" type="life.wewu.web.domain.board.Bookmark" />
		<typeAlias alias="comment" type="life.wewu.web.domain.board.Comment" />
		<typeAlias alias="donation" type="life.wewu.web.domain.board.Donation" />
		<typeAlias alias="question" type="life.wewu.web.domain.board.Question" />
	</typeAliases>
	
	<!-- 
	<typeAliases>
		<typeAlias alias="user" type="spring.domain.User" />
		<typeAlias alias="search" type="spring.common.Search" />
	</typeAliases>
	 -->
	 <!-- SQL Definition :: file include -->

	<mappers>
		<mapper resource="static/mybatis/BoardMapper.xml"/>
		<mapper resource="static/mybatis/QuestionMapper.xml"/>
		<mapper resource="static/mybatis/DonationMapper.xml"/>
	</mappers>
</configuration>