<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace = "life.wewu.web.service.plant.PlantDao">
	
	<resultMap id="myPlantSelectMap" type="myPlant" >
		<result property="myPlantNo" 			column="my_plant_no" 		jdbcType="INTEGER"/>
		<result property="myPlantState"		 	column="my_plant_state" 	jdbcType="VARCHAR" />
		<result property="myPlantName" 		  	column="my_plant_name" 		jdbcType="VARCHAR" />
		<result property="myPlantExp" 			column="my_plant_exp" 		jdbcType="INTEGER" />
		<result property="plantStartDate" 		column="plant_start_date" 	jdbcType="DATE" />
		<result property="plantEndDate"		 	column="plant_end_date"		jdbcType="DATE"/>
		<result property="myPlantLevl"			column="my_plant_levl" 		jdbcType="VARCHAR"/>
		<result property="weatherNo"			column="weather_no"			jdbcType="INTEGER"/>
		<result property="weatherImg"			column="weather_img"		jdbcType="VARCHAR"/>
		<result property="plantLevl.plantLevlNo" column="plant_levl_no"		jdbcType="VARCHAR"/>
		<result property="plant.plantNo" 		column="plant_no"			jdbcType="VARCHAR"/>
	</resultMap>	
	
	
		
	<!--  ADD RANDOMPLANT -->
	<insert id="addRandomPlant" parameterType="myPlant">
		INSERT INTO my_plant (my_plant_state,my_plant_name,my_plant_exp,plant_start_date,nickname,plant_no)
		VALUE ('Y',#{myPlantName},0,now(),#{nickname},#{plant.plantNo})
	</insert>
	
	<select id ="getMyPlant" parameterType="myPlant" resultMap="myPlantSelectMap">
		SELECT * FROM my_plant
		WHERE my_plant_no = #{value}
	</select>
	
	<!-- GET MYPLANTliST -->
	<select id="getMyPlantList" parameterType="map" resultMap="myPlantSelectMap" >
		SELECT 
			m.my_plant_no, m.my_plant_state , m.plant_start_date, m.plant_end_date , 
			le.plant_levl , le.levl_Img , m.nickname, le.plant_max_exp,le.plant_min_exp
    	FROM 
    		my_plant m , plant_levl le
  	 	WHERE m.plant_no = le.plant_no
  	 	AND m.nickname = #{nickname}
   		AND #{myPlantExp} between #{plantLevl.plantMinExp} and #{plantLevl.plantMaxExp};
   		
			<if test = "myPlantState != null ">
				AND m.my_plant_state = #{myPlantState}	
			</if>
	</select>
	
	<!-- UPDATE MYPLANT NAME -->
	<update id="updateMyPlant" parameterType="int">
		UPDATE my_plant
	   	<set>
	   		my_plant_name = #{myPlantName} 
	   	</set>
	   	WHERE my_Plant_no = #{myPlantNo}
	 </update>
	 
	 <!-- DELETE MYPLANT -->
	 <update id="deleteMyPlant" parameterType="int">
	 	UPDATE my_plant
	 	<set>	
	 		my_plant_state = 'N'
	 	</set>
	 	WHERE my_plant_no = #{myPlantNo}
	 </update>
	
	
</mapper>