<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace = "life.wewu.web.service.plant.PlantDao">
	
	<resultMap id="PlantSelectMap" type="plant" >
		<result property="plantNo" 			column="plant_no" 			jdbcType="INTEGER"/>
		<result property="plantName"		column="plant_name" 		jdbcType="VARCHAR" />
		<result property="plantLevl.plantLevlNo"	column="plant_levl_no" 		jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- GET RANDOM PLANT -->
	<select id="selectRandomPlant"  resultMap="PlantSelectMap">
		SELECT p.plant_no as plant_no , le.plant_levl_no as plant_levl_no
		from plant_levl le, plant p
		WHERE le.plant_levl = '새싹'
		ORDER BY RAND()
		limit 1
	</select>
	
	<!-- ADD PLANT -->
	<insert id="addPlant" parameterType="plant">
		<!-- Plant 테이블에 데이터 삽입 -->
		INSERT INTO plant (plant_name)
		VALUES (#{plantName});
		
		<selectKey resultType="int" keyProperty="plantNo" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<!-- ADD PLANT LEVL -->
	<insert id="addPlantLevl" parameterType="plantLevl">
		INSERT INTO plant_levl (plant_no, plant_levl, plant_min_exp, plant_max_exp, plant_final_levl, levl_img)
		VALUES (#{plantNo}, #{plantLevl}, #{plantMinExp}, #{plantMaxExp}, #{plantFinalLevl}, #{levlImg});
	</insert>


	
	<!-- UPDATE PLANT -->
	
	
	<update id="updatePlantName" parameterType="plant">
		UPDATE plant
		<set>
			<if test = "plantName != null and plantName != '' ">
			plant_name = #{plantName},
			</if>
			plant_no = #{plantNo}
		</set>	
		<where>
			plant_no = #{plantNo}
		</where>
	</update>
	

	<!-- DELETE PLANT -->
	<delete id="deletePlant">
        DELETE FROM plant WHERE plant_no = #{plant_no}
    </delete>
	

	<select id = "getPlant" parameterType="int" resultMap="PlantSelectMap">
		SELECT * from plant
		WHERE plant_no = #{value}
	</select>
	
	<select id="getPlantList" parameterType="map" resultMap="PlantSelectMap">
		SELECT p.*, l.*
		FROM plant p , plant_levl l
		WHERE p.plant_no = l.plant_no
		ORDER BY p.plant_no

	</select>
	
	<select id="donatePlant" parameterType="int" resultMap="PlantSelectMap">
		SELECT * from plant
		WHERE plant_no = #{plantNo}
	</select>
	
</mapper>
			