<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace = "life.wewu.web.service.plant.PlantDao">

	<resultMap id="questSelectMap" type="life.wewu.web.domain.plant.Quest">
		<result property="questNo" 			column="quest_no" 			jdbcType="INTEGER"/>
		<result property="questContents"	column="quest_contents" 	jdbcType="VARCHAR" />
		<result property="questTarget" 		column="quest_target" 		jdbcType="VARCHAR" />
		<result property="questTargetCnt" 	column="quest_target_cnt" 	jdbcType="VARCHAR" />
		<result property="questReward" 		column="quest_reward" 		jdbcType="INTEGER" />
		<result property="nickname" 		column="nickname" 			jdbcType="VARCHAR" />
	</resultMap>

	<!-- ADD QUEST -->
	<insert id="addQuest" parameterType ="life.wewu.web.domain.plant.Quest">
	INSERT INTO quest (quest_no, quest_contents, quest_target, quest_target_cnt, quest_reward)
        VALUES (AUTO_INCREMENT, #{questContents}, #{questTarget}, #{questTargetCnt}, #{questReward})
    </insert>
	

	<!-- UPDATE QUTES -->
	<update	id="updateQuest" parameterType ="life.wewu.web.domain.plant.Quest" >
	   	UPDATE quest
	   	<set>
	   		quest_contents = #{questContents},
			quest_target = #{questTarget},
			quest_target_cnt = #{questTargetCnt},
			quest_reward = #{questReward}
	   	</set>
	   	WHERE quest_no = #{questNo}
	 </update>
	 
	 <!-- GET QUESTLIST -->
	<select  id="getQuest"  parameterType="life.wewu.web.domain.plant.Quest" resultMap="questSelectMap">
	  	SELECT * FROM quest	
	  	WHERE quest_no = #{value} 
	</select>

	<!-- GET QUESTLIST -->
	<select  id="getQuestList"  parameterType="life.wewu.web.common.Search" resultMap="questSelectMap">
	  	SELECT * FROM quest	
	  	WHERE quest_no = #{questNo}
	  	order by quest_reg_date 
	</select>
	
	<update id = "completeQuest" parameterType ="life.wewu.web.domain.plant.Quest">
		UPDATE quest
		<set>
			quest_state = 'N'
		</set>
		WHERE quest_no = #{questNo}
	</update>
	 
	 

</mapper>