<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ShoppingCartMapper">
 	
 	
	<resultMap id="shoppingCartSelectMap" type="shoppingCart">
      <result property="shoppingCartNo"          column="shopping_cart_no"          jdbcType="INT"/>
      <result property="nickname"   			 column="nickname"    				jdbcType="VARCHAR" />
      <result property="itemNo"    				 column="item_no"       			jdbcType="INT" /> 
      <result property="itemCnt" 				 column="item_cnt" 					jdbcType="INT" />
   </resultMap>
	
	<!-- SQL : INSERT 장바구니에 아이템 담기--> 
	<insert id="addShoppingCart" parameterType="shoppingCart" useGeneratedKeys="true" keyProperty="shoppingCartNo">
        INSERT INTO shopping_cart ( nickname, item_no, item_name, item_cnt, item_price, item_img)   //이너조인
        VALUES(	#{nickname:VARCHAR}, #{item_no:INT}, #{item_name:VARCHAR}, #{item_cnt:INT}, #{item_price:INT}, #{item_img:VARCHAR})
	</insert>
        
    <!-- SQL : SELECT 장바구니 목록조회-->
	<select id="getShoppingCartList" parameterType="int" resultMap="shoppingCartSelectMap">
		SELECT
		shopping_cart_no, item_name, item_cnt, item_price, item_img  //이너조인
		FROM shopping_cart
		WHERE shopping_cart_no = #{value}
	</select>
       
	<!-- SQL : DELETE 장바구니에 담은 아이템 삭제-->
	 <delete	id="deleteShoppingCartList" 	parameterType="int" >
	 	DELETE 
		FROM shopping_cart 
		WHERE shopping_cart_no = #{value}
	 </delete>
		
	
</mapper>